:root {
	--primary: #003285;
	--secondary: #FF7F3E;
	--light: #EEE;
	--grey: #888;
	--dark: #313154;
	--danger: #ff5b57;
	--success: #A1DD70;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}
body{
	background-color: var(--light);
}

/*** utils ***/

.ml-4{
	margin-left: 4px;
}

button{
	background-color: var(--secondary);
	border: none;
	padding: 0 4px;
	border-radius: 6px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.success{
	background-color: var(--success);
}

/******/

.container{
	margin: 16px auto;
	max-width: 800px;
}

.disabled{
	color: var(--grey);
}

input{
	border: none;
	outline: none;
	font-family: 'montserrat', sans-serif;
}
.input{
	border-radius: 10px;
	margin-top: 10px;
	padding: 8px;
	width: 100%;
}

.name-input{
	font-size: 20px;
	font-weight: bold;
	background: transparent;
}

.main-section{
	margin-top: 16px;
}

/*** category ***/
.category{
	display: grid;
	justify-content: space-between;
	padding: 16px 0;
	grid-template-columns: 50% 50%;
	column-gap: 8px;
}
.category-box{
	padding: 24px 0;
	background-color: white;
	text-align: center;
	border-radius: 10px;
}

input[type='radio'] {
    accent-color: var(--primary);
	border-color: white;
}

.button{
	background-color: var(--primary);
	padding: 10px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	width: 100%;
	cursor: pointer;
}

/*** todo list ***/
ul{
	list-style: none;
	margin: 16px 0;
}
li{
	background-color: white;
	padding: 10px;
	margin: 8px 0;
	border-radius: 10px;
	display: flex;
}

li, p{
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}